@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0618b9;
}

.main-container {
  flex: 1;
  display: flex;
}

.logo-area {
  background-color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 80px 80px 0;
}

.logo-area img {
  width: 350px;
  height: auto;
  background-color: #fff;
}

.cads-area {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0618b9;
}

.cads-card {
  background-color: #dcdcf9;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
}

.cads-card h2 {
  color: #0618b9;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.cads-card label {
  display: flex;
  font-weight: 600;
  color: #0618b9;
  margin-top: 10px;
}

.cads-card input {
  width: 100%;
  padding: 13px;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.cads-card button {
    font-size: 15px;
  display: block;
  margin: 20px auto 0;
  width: 55%;
  padding: 15px;
  background-color: #0618b9;
  color: white;
  border: none;
  border-radius: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cads-card button:hover {
  background-color: #040e7f;
}

a {
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: #0618b9;
  font-weight: 500;
}


