/* Estilos específicos para a página de pacientes */
.main-dashboard{
  padding: 30px;
  margin-left: 10px;
  
}

.patients-container {
 
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-self: center;
  }

  .patients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .patients-header h1 {
    color: #0a400c;
    margin: 0;
    
  }
  
  .patients-header h1 i {
    margin-right: 10px;
  }
  
  /* Barra de pesquisa e filtros */
  .search-filters {
    display: flex;
    flex-direction: row;
    width: 450PX;
    gap: 80px;
    margin-bottom: 30px;
  
  }
  
  .search-box {
    position: relative;
    flex: 1;
    min-width: 300px;
  }
  
  .search-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
  
  .search-box input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .search-box input:focus {
    outline: none;
    border-color: #0a400c;
    box-shadow: 0 0 0 2px rgba(22, 57, 19, 0.721);
  }

  /* Estilos para o seletor personalizado */
  .custom-select {
      position: relative;
      width: 140px;
      font-size: 14px;
      cursor: pointer;
  }

  .custom-select .selected {
    width: 140px;
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-radius: 6px;
      background: white;
      user-select: none;
      position: relative;
  }

  /* Seta no canto direito */
  .custom-select .selected::after {
      content: "▼";
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      color: #1e4920d0;
  }

  .custom-select .options {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid #ddd;
      border-radius: 6px;
      background: white;
      margin-top: 5px;
      display: none;
      flex-direction: column;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;
  }

  .custom-select .options div {
      padding: 10px 15px;
      cursor: pointer;
  }

  .custom-select .options div:hover {
      background: #f0f0f0;
  }
    

.btn-add-paciente {
  background-color: #0a400c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-add-paciente:hover {
  background-color: #092f04ad;
}