/* CONTAINER PRINCIPAL */
.help-container {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

/* NOVO: Container para alinhar o título e a busca */
.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 30px; 
}

/* TÍTULO H1 */
.help-container h1 {
    color: #1a3bb9;
    margin: 0; 
    font-size: 2em; 
    flex-shrink: 0; 
}

h1 i {
    margin-right: 10px;
}

.help-container h2 {
    color: #1a3bb9;
    border-bottom: 2px solid #1a3bb9;
    padding-bottom: 10px;
    margin-top: 40px;
}

/* ESTILOS DE FAQ */
details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
}

summary {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1em;
  color: #333;
}

details[open] {
  border-color: #1a3bb9;
}

details p {
  margin-top: 15px;
  line-height: 1.6;
  color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #1a3bb9;
  outline: none;
}

.contact-form button {
  background-color: #1a3bb9;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #9bafff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.search-bar {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 30px;
}

.search-box {
    position: relative;
    flex: 1;
    min-width: 300px;
    margin-left: 10%;
}

.search-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #1a3bb9;
}

.search-box input {
    cursor: pointer;
    width: 300px;
    padding: 12px 15px 12px 45px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-box input:focus {
    outline: none;
    border-color: #1a3bb9;
    box-shadow: 0 0 0 2px rgba(0, 35, 160, 0.1);
}