@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0a400c ;
}

.main-container {
  flex: 1;
  display: flex;
}

.logo-area {
  background-color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 80px 80px 0;
}

.logo-area img {
  width: 350px;
  height: auto;
  background-color: #fff;
}

.cads-area {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a400c;
}

.cads-card {
  background-color: #e2fee3;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
}

.cads-card h2 {
  color: #0a400c;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: left;
}

.cads-card label {
  display: flex;
  font-weight: 600;
  color: #0a400c;
  margin-top: 10px;
}

.cads-card input {
  width: 100%;
  padding: 13px;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}


.cads-card select {
  width: 100%;
  padding: 13px;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #0a400c;
  cursor: pointer;
  appearance: none; /* remove estilo padrão do navegador */
}

.cads-card select:focus {
  box-shadow: 0 0 5px rgba(10, 64, 12, 0.5);
  border: 1px solid #0a400c;
}

.cads-card button {
    font-size: 15px;
  display: block;
  margin: 20px auto 0;
  width: 55%;
  padding: 15px;
  background-color: #0a400c;
  color: white;
  border: none;
  border-radius: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}   

.cads-card button:hover {
  background-color: #021e03;
}

a {
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: #0a400c;
  font-weight: 500;
}


