/* dashboard.css ATUALIZADO */

  .main-dashboard {
    padding: 20px 40px;
  }

  .medico-container {
    max-width: 1200px;
    margin:   auto;

  }
  .overview-container{  
    max-width: 1750px;

  }
  
  .overview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 40px;
    flex-direction: row;
  }
  

  .overview-header h1 {
    color: #131D4F;
    margin: 0;
    margin-top: 0px;
  }
  
  .overview-header h1 i {
    margin-right: 10px;
  }

  .metrics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
  }
  
  .metric-card {
    background-color: #131D4F; 
    color: white;
    padding: 20px;
    border-radius: 15px;
    flex: 1;
    min-width: 200px;
    text-align: center;
    font-size: 1.1em;
  }

  .metric-card strong {
    font-size: 2.5em;
    display: block;
    margin-top: 5px;
    
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row !important;
    gap: 20px;
    margin-top: 30px;
  }
  
  .chart-container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    flex-grow: 1; 
    height: 320px; 
  }
  
  .charts {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  #bar-chart-container {
    flex-basis: 35%; 
    min-width: 300px;
  }

  #line-chart-container {
    flex-basis: 55%; 
    min-width: 400px;
  }
  
  .info-cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .info-card {
    background-color: #fff; 
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

    flex: 1;
    min-width: 200px;
    min-height: 180px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }