body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

/* Container */
.cadastrar-container {
  background-color: #eef1ff;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.cadastrar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #131D4F;
  margin-bottom: 25px;
}

.cadastrar-header h1 {
  font-size: 24px;
  margin: 0;
}

.foto-upload {
  background-color: #131D4F;
  color: white;
  border-radius: 16px;
  text-align: center;
  padding: 40px 20px;
  margin-bottom: 25px;
  cursor: pointer;
}

.foto-upload i {
  font-size: 28px;
  display: block;
  margin-bottom: 8px;
}

/* Inputs */
form input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: #131D4F;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

form input::placeholder {
  color: #ddd;
}

/* Botão principal */
form button {
  display: block;
  background-color: #131D4F;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 50%;
  margin: 15px auto 0 auto;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #6c7ae0;
}