body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    height: 100vh;
  }
  
  
  /* Container */
  .cadastrar-container {
    background-color: #eef1ff;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
  }

  .cadastrar-container p{
    text-align: center;
    color: #0618b9;
    font-size: 20px;
    margin-top: 60px;
    font-weight: bold;
  }
  
  .cadastrar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #131D4F;
    margin-bottom: 25px;
  }
  
  .cadastrar-header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .foto-upload {
    background-color: #0618b9;
    color: white;
    border-radius: 16px;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 25px;
    cursor: pointer;
  }
  
  .foto-upload i {
    font-size: 28px;
    display: block;
    margin-bottom: 8px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: flex;
    font-weight: 600;
    margin-bottom: 6px;
    color: #0618b9;
  }
  
  .form-group input {
    width: 100%;
    display: flex;
    justify-self: center;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #0618b9;
    color: white;
    font-size: 16px;
  }
  
  .form-group input::placeholder {
    color: #ddd;
  }
  
  .btn-salvar {
    display: block;
    background-color: #0618b9;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 50%;
    justify-self: center;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  .btn-salvar:hover {
    background-color: #6c7ae0;
  }
  
/* Botão cancelar e excluir */
  .btn-excluir:last-of-type {
    background-color:#0618b9;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 30%;
    justify-self: center;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .btn-excluir:first-of-type:hover {
    background-color: rgba(0, 20, 204, 0.555);
  }

    .btn-cancelar:last-of-type {
    background-color:#0618b9;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 22%;
    justify-self: center;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .btn-cancelar:first-of-type:hover {
    background-color: rgba(0, 20, 204, 0.555);
  }
  