 body {
     margin: 0;
     font-family: 'Segoe UI', sans-serif;
     background-color: #f9f9f9;
 }

 .sidebar {
     position: fixed;
     width: 80px;
     height: 100vh;
     background-color: #131D4F;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 20px;
     z-index: 10;
 }

 .logo {
     width: 60px;
     margin-bottom: 30px;
 }

 .sidebar nav {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 35px;
 }

 .sidebar nav a i {
     font-size: 24px;
     color: white;
     transition: color 0.3s;
 }

 .sidebar nav a:hover i {
     color: #98b5ff;
 }

 .main-dashboard-wrapper {
     margin-left: 80px;
 }

 .header {
     height: 60px;
     padding: 0 40px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     background-color: #131D4F;
 }

 .user-info {
     display: flex;
     align-items: center;
     gap: 15px;
 }

 .user-info span {
     color: #fff;
 }

 .user-info img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }

 .main-dashboard {
     padding: 20px 40px;
 }


 .medico-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .medico-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 40px;
    flex-direction: row;
  }
  
  .medico-header .btn-add-medico{
    margin-top: 10px;
  }

  .medico-header h1 {
    color: #131D4F;
    margin: 0;
  }
  
  .medico-header h1 i {
    margin-right: 10px;
  }


  .btn-add-medico {
    background-color: #131D4F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .btn-add-medico:hover {
    background-color: #6c7ae0;
  }

 .box-table {
     background-color: #dcdcf9;
     width: 90%;
     max-width: 900px;
     margin: 30px auto;
     padding: 0;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     overflow: hidden;
 }


 table {
     width: 100%;
     border-collapse: collapse;
 }


 thead {
     background-color: #131D4F;
     color: white;
     text-align: left;
 }

 thead tr th {
    padding: 20px;
    font-weight: bold;
 }

 tbody tr {
     background-color: #dcdcf9;
     color: #131D4F;
 }

 tbody td {
     padding: 12px 14px;
     vertical-align: middle;
     font-weight: bold;
 }


.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

 .actions i {
     cursor: pointer;
     font-size: 18px;
     transition: 0.3s;
    color: #000045;
 }

 .actions i:hover {
     color: #dcdcf9;
 }

 tbody tr:hover {
     background-color: #6c7ae0;
     color: #fff;
 }

 /* Define largura fixa proporcional para cada coluna */
table th:nth-child(1),
table td:nth-child(1) {
    width: 30%; /* Nome Médico */
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 40%; /* E-mail Médico */
    word-break: break-word; /* Evita quebrar o layout em e-mails longos */
}

table th:nth-child(3),
table td:nth-child(3) {
    width: 15%; /* Senha */
    text-align: center;
}

table th:nth-child(4),
table td:nth-child(4) {
    width: 140px; /* Ações */
    text-align: center;
}